{% extends "base.html" %}
{% block content %}
    <h1>Edit Product</h1>
    <form method="POST" action="{{ url_for('edit_product', product_id=product.id) }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <!-- Product Name -->
        <div>
            {{ form.name.label }}<br>
            {{ form.name(size=32, class_="form-control") }}
        </div>
        
        <!-- Product Description -->
        <div>
            {{ form.description.label }}<br>
            {{ form.description(size=64, class_="form-control") }}
        </div>
        
        <!-- Product Price -->
        <div>
            {{ form.price.label }}<br>
            {{ form.price(size=8, class_="form-control") }}
        </div>
        
        <!-- Product Image -->
        <div>
            {{ form.image.label }}<br>
            {{ form.image(class_="form-control-file") }}
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Update Product</button>
    </form>
{% endblock %}
